<a href="https://colab.research.google.com/github/praveenkumarbalakrishnan/tasks/blob/main/SIG731_Data_Wrangling_Task4P.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Title:** Task 4P: SIG731-Data Wrangling

**Name:** Praveenkumar Balakrishnan

**Student Number:** 223029369

**Email Address:** s223029369@deakin.edu.au

# Import Statements

In [58]:
import pandas as pd
import numpy as np

#Tasks

Uploaded the "nycflights13_weather.csv.gz" file in the input directory

It gives the hourly meteorological data for three airports in New York: LGA, JFK, and EWR for the whole year of 2013.

Columns are:

• origin – weather station: LGA, JFK, or EWR

• year, month, day, hour – time of recording

• temp, dewp – temperature and dewpoint in degrees Fahrenheit

• humid – relative humidity

• wind_dir, wind_speed, wind_gust – wind direction (in degrees), speed and gust speed (in mph)

• precip – precipitation, in inches

• pressure – sea level pressure in millibars

• visib – visibility in miles

• time_hour – date and hour (based on the year, month, day, hour fields) formatted as YYYY-mm-dd HH:MM:SS (actually, YYYY-mm-dd HH:00:00). However, due to a bugin the dataset, the data are shifted by 1 hour.

**Task 1**

Convert all columns so that they use metric (International System of Units, SI) or derived units: temp and dewp to Celsius, precip to millimetres, visib to kilometres, as well as wind_speed and wind_gust to km/h. Replace the data in-place (overwrite existing columns with new ones).

In [62]:
nycflights13_df = pd.read_csv("/content/drive/MyDrive/Inputs/nycflights13_weather.csv.gz", comment='#')
nycflights13_df.head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,0,37.04,21.92,53.97,230.0,10.35702,11.918651,0.0,1013.9,10.0,2013-01-01 01:00:00
1,EWR,2013,1,1,1,37.04,21.92,53.97,230.0,13.80936,15.891535,0.0,1013.0,10.0,2013-01-01 02:00:00
2,EWR,2013,1,1,2,37.94,21.92,52.09,230.0,12.65858,14.567241,0.0,1012.6,10.0,2013-01-01 03:00:00
3,EWR,2013,1,1,3,37.94,23.00,54.51,230.0,13.80936,15.891535,0.0,1012.7,10.0,2013-01-01 04:00:00
4,EWR,2013,1,1,4,37.94,24.08,57.04,240.0,14.96014,17.215830,0.0,1012.8,10.0,2013-01-01 05:00:00

Used lambda function to convert and overwrite the columns to International System of Units

The below are the formulas used for conversion:

$Fahrenheit to Celsius: (F − 32) × 5/9$

$Inches to Millimetres: I * 25.4$

$Miles to kilometres: M * 1.609344$

In [63]:
for col in ['temp', 'dewp']:
  nycflights13_df[col] = nycflights13_df[col].apply(lambda x: (x - 32) * 5/9)

nycflights13_df['precip'] = nycflights13_df['precip'].apply(lambda x: x * 25.4)

for col in ['visib', 'wind_speed', 'wind_gust']:
  nycflights13_df[col] = nycflights13_df[col].apply(
      lambda x: x * 1.609344)
  
nycflights13_df.head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,0,2.8,-5.6,53.97,230.0,16.668008,19.181210,0.0,1013.9,16.09344,2013-01-01 01:00:00
1,EWR,2013,1,1,1,2.8,-5.6,53.97,230.0,22.224011,25.574947,0.0,1013.0,16.09344,2013-01-01 02:00:00
2,EWR,2013,1,1,2,3.3,-5.6,52.09,230.0,20.372010,23.443701,0.0,1012.6,16.09344,2013-01-01 03:00:00
3,EWR,2013,1,1,3,3.3,-5.0,54.51,230.0,22.224011,25.574947,0.0,1012.7,16.09344,2013-01-01 04:00:00
4,EWR,2013,1,1,4,3.3,-4.4,57.04,240.0,24.076012,27.706193,0.0,1012.8,16.09344,2013-01-01 05:00:00

**Task 2**

Convert the time_hour column (in-place) to the datetime64 type and then subtract one hour so that data match the information stored in the month, day, and hour fields.

In [64]:
nycflights13_df['time_hour'] = pd.to_datetime(nycflights13_df['time_hour'])
nycflights13_df['time_hour'] = (
    nycflights13_df['time_hour'] - np.timedelta64(1, 'h'))
nycflights13_df.head()

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,0,2.8,-5.6,53.97,230.0,16.668008,19.181210,0.0,1013.9,16.09344,2013-01-01 00:00:00
1,EWR,2013,1,1,1,2.8,-5.6,53.97,230.0,22.224011,25.574947,0.0,1013.0,16.09344,2013-01-01 01:00:00
2,EWR,2013,1,1,2,3.3,-5.6,52.09,230.0,20.372010,23.443701,0.0,1012.6,16.09344,2013-01-01 02:00:00
3,EWR,2013,1,1,3,3.3,-5.0,54.51,230.0,22.224011,25.574947,0.0,1012.7,16.09344,2013-01-01 03:00:00
4,EWR,2013,1,1,4,3.3,-4.4,57.04,240.0,24.076012,27.706193,0.0,1012.8,16.09344,2013-01-01 04:00:00

**Task 3**

Compute daily mean temperatures (360+ average temperatures for each day separately) for the JFK airport with missing hourly temperature measurements ignored (removed) whatsoever (e.g.,mean of [10, NaN, 20] is simply 15).

Added date column with only year, month and day, then filtered the JFK airport and computed the mean of temperature by the generated date column and resetted the index to generate as dataframe.

**Note:** skipna param for DataFrame.mean function is true by default which will ignore the missing hourly temperature measurements

In [83]:
nycflights13_df['date'] =  nycflights13_df['time_hour'].dt.strftime('%Y-%m-%d')
jfk_daily_mean = nycflights13_df[nycflights13_df['origin'] == 'JFK'].groupby(
    ['date'])['temp'].mean().reset_index()
jfk_daily_mean

           date      temp
0    2013-01-01  3.817391
1    2013-01-02 -1.920833
2    2013-01-03 -1.237500
3    2013-01-04  1.129167
4    2013-01-05  2.720833
..          ...       ...
359  2013-12-26  0.383333
360  2013-12-27  2.220833
361  2013-12-28  4.966667
362  2013-12-29  6.533333
363  2013-12-30  4.620833

[364 rows x 2 columns]

**Task 4**

In [88]:
nycflights13_df.temp.max()

37.800000000000004