<a href="https://colab.research.google.com/github/praveenkumarbalakrishnan/tasks/blob/main/SIG731_Data_Wrangling_Task6HD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Title:** Task 6HD: SIG731-Data Wrangling

**Name:** Praveenkumar Balakrishnan

**Student Number:** 223029369

**Email Address:** s223029369@deakin.edu.au

# Import Statements

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
import pandas as pd
from functools import reduce

# Tasks

**Task 1**

Download at least five different datasets that are part of the NHANES 2017â€“2020 study, see https:
//wwwn.cdc.gov/nchs/nhanes/continuousnhanes/default.aspx?Cycle=2017-2020. Merge them into a single data frame.

In [5]:
dg_df = pd.read_sas("/content/drive/MyDrive/Inputs/P_DEMO.XPT")
diet_df = pd.read_sas("/content/drive/MyDrive/Inputs/P_DSQTOT.XPT")
bm_df = pd.read_sas("/content/drive/MyDrive/Inputs/P_BMX.XPT")
cl_df = pd.read_sas("/content/drive/MyDrive/Inputs/P_TCHOL.XPT")
cvh_df = pd.read_sas("/content/drive/MyDrive/Inputs/P_CDQ.XPT")

dataframes = [dg_df, diet_df, bm_df, cl_df, cvh_df]

master_data_df = reduce(
    lambda x, y: pd.merge(x, y, on='SEQN', how='inner'), dataframes)
master_data_df.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,DMDBORN4,...,CDQ009A,CDQ009B,CDQ009C,CDQ009D,CDQ009E,CDQ009F,CDQ009G,CDQ009H,CDQ008,CDQ010
0,109271.0,66.0,2.0,1.0,49.0,NaN,3.0,3.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
1,109274.0,66.0,2.0,1.0,68.0,NaN,5.0,7.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2,109282.0,66.0,2.0,1.0,76.0,NaN,3.0,3.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
3,109284.0,66.0,2.0,2.0,44.0,NaN,1.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
4,109290.0,66.0,2.0,2.0,68.0,NaN,4.0,4.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0